<!DOCTYPE HTML>
 <head>

 	<!-- load bootstrap and font-awesome via CDN -->
 	<script src="https://use.fontawesome.com/5c77c465aa.js"></script>
 	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

 	<!-- load angular and angular route via CDN -->
 	<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js'></script>
 	<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-route.js'></script>
 	
 	<!-- load the main app -->
 	<script src='script.js'></script>

 	<!-- add the base url needed for angular route -->
 	<base href="/">
 </head>
 <body ng-app='websiteApp'>
 	<header ng-controller='headerController'>
        <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">TaskRunner</a>
            </div>
            <ul class="nav navbar-nav navbar-left">
                <li><a href="/#/tasks">Browse Tasks</a></li>
                <li><a href="/#/how-it-works">How it works</a></li>
            </ul>


            <ul class="nav navbar-nav navbar-right" ng-if='loggedIn === false'>
	            <li><a href="#">Sign Up</a></li>
	            <li><a href="#">Login</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right" ng-if='loggedIn === true'>
                <li><a href="#">Notifications</a></li>
                <li><a href="#">Message</a></li>
                <li><a href="#"><img src='https://eu7cmie.cloudimg.io/s/crop/32x32/https://assets-airtasker-com.s3.amazonaws.com/uploads/user/avatar/654644/13726669_10157272107180473_7731621456572927458_n-ea4a857ab948e9e2aa2f01b0dbf77890.jpg' /></a></li>
            </ul>
        </div>
        </nav>
    </header>
 	<main>
 		<!-- angular templates -->
 		<ng-view></ng-view>
 	</main>
 </body>
</html>