<div class="jumbotron text-center">
    <p>
    	Hello! My name is Kristoffer Bandong, and I'm Tauranga-based full stack web developer. I enjoy solving business problems and challenges that produces exceptional results using cutting edge technologies. If you are an entrepreneur seeking a developer partner or an employer looking to hire, you can get in touch with me here.
    </p>
    <p>
		I have a diverse set of technical skills, ranging from to HTML5 + CSS3 + Javascript + Frameworks (Angular and JQuery) and real time communication, all the way to PHP, MySQL, APIs and Linux server administration.
	</p>
</div>